<% if @model == 'user' %>
  <h3>Users search for "<%= @content %>"</h3>
    <%= render 'public/users/users', users: @records %>
<% elsif @model == 'park' %>
  <h3>Parks search for "<%= @content %>"</h3>
    <%= render 'public/parks/parks', parks: @records %>
<% end %>