
<h1>User info</h1>
 
  <%= image_tag @user.get_profile_image(100,100) %>

  
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th><%= @user.name %></th>
      </tr>
      <td><%= link_to "プロフィール編集", edit_user_path(@user) %></td>
    </thead>
  </table>
  