
<h1>User info</h1>
  <%= link_to edit_user_path(@user) do %>
  <%= image_tag @user.get_profile_image(100,100) %>
  <% end %>
  
  
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th><%= @user.name %></th>
      </tr>
    </thead>
  </table>
  