<div class="row">
  <% users.each do |user| %>
    <div class="col-md-4 col-sm-6">
      <div class="card mb-4 shadow-sm">
        <%= link_to user_path(user.id) do %>
         <%= image_tag user.get_profile_image(100,100), class: "card-img-top", style: "object-fit:cover; height:250px;" %>     
        <% end %>
        <div class="card-body">
          <h4 class="card-title"><%= user.name %></h4>
        </div>    
      </div>
    </div>
  <% end %>
</div>
  
